.card-design {
  min-height: 2em;
  min-width: 3em;
  height: auto;
  width: auto;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  background-color: #dbddb4;

  border: 0.1em solid darkgrey;
  border-radius: 0.5em;
  box-shadow: 0em 0em 0.89em 0.2em grey;
}

.card-title {
  min-height: 1em;
  height: auto;
  width: 100%;

margin: .5em 2em;
  text-decoration: underline;

  text-align: center;
}

.card-content{
    min-height: 1em;
    height: auto;
    width: 100%;

    margin: 2em 2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}