<div class="user-design">
  <div class="userProfile">
    <h1>Name:</h1>
    <p>{{ userProfileForm.value.name }}</p>
    <h1>Email:</h1>
    <p>{{ userProfileForm.value.email }}</p>
    <h1>Password:</h1>
    <p>{{ userProfileForm.value.password }}</p>
  </div>
  <div class="separator"></div>
  <form [formGroup]="userProfileForm">
    <div class="userForm">
      <label>
        <input type="text" formControlName="name" />
      </label>
      <label>
        Email: {{ userProfileForm.value.email }}
        <input type="text" formControlName="email" />
      </label>
      <label>
        Password: {{ userProfileForm.value.password }}
        <input type="password" formControlName="password" />
      </label>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
