<div class="user-design">
  <div class="userProfile">
    <p><span class="title">Name</span> {{ userName }}</p>
    <p><span class="title">Email</span> {{ userEmail }}</p>
    <p><span class="title">Password</span> {{ userPassword }}</p>
  </div>
  <div class="separator"></div>
  <form [formGroup]="userProfileForm" (ngSubmit)="handleSubmit()">
    <div class="userForm">
      <label>
        Name:
        <input type="text" formControlName="name" />
      </label>
      <label>
        Email:
        <input type="text" formControlName="email" />
      </label>
      <label>
        Password:
        <input type="password" formControlName="password" />
      </label>
      <cButton title="Submit" (onClick)="handleSubmit()" />
      <div class="error">{{ errorMsg }}</div>
    </div>
  </form>
</div>
