.cbutton-design{
    height: auto;
    width: auto;

    padding: .5em 1em;

    margin: .5em .5em;

    color: white;

    border: .1em solid rgba(0, 0, 0, 0.205);
    border-radius: .5em;

    background-color: #88b8a9;

    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #8fc2b2;
    }
    &:active{
        transform: translateY(.1em);
    }
}